body {
  font-family: "Open Sans", sans-serif;
  background-image: url(../images/fantastic-seascape-with-ripples-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  /* border: 3px solid dimgray; */
  /* border-radius: 20px; */
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.form-wrapper {
  width: 400px;
  margin: 0 auto;
}

.page-input {
  width: 400px;
  margin-bottom: 30px;
  /* color: dimgrey;
  border: 1px solid white; */
}

.type-select {
  width: 400px;
  margin-bottom: 30px;
  /* color: dimgrey;
  border: 1px solid dimgray; */
}

.part-select {
  width: 400px;
  margin-bottom: 50px;
  /* color: dimgrey;
  border: 1px solid dimgray; */
}

.btn {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
}

.sum {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.05em;
}

.narx {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
}
